/*arrow icon while downward */
.css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator > .css-i4bv87-MuiSvgIcon-root {
  color: #ffffff;
}

/*arrow icon while upward*/
.css-113ntv0-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator > .css-i4bv87-MuiSvgIcon-root{
  color: #ffffff;
}
/*underline*/
.css-giwz22-MuiInputBase-root-MuiInput-root:before {
  border-bottom-color: #ffffff !important;
}
.css-giwz22-MuiInputBase-root-MuiInput-root:after {
  border-bottom-color: #ffffff !important;
}